body{
    background-color: rgb(43, 43, 43);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

ul {
    /* alinha e centraliza no topo da pagina */
    display: flex;
    justify-content: space-between;
    /* retira as bolinhas. */
    list-style-type: none;
    /* alinha verticalmente no topo. */
    align-items: center;
    padding: 14px;}